@import 'verbs.scss';

*, *::before, *::after {
    color: #191919;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    @include fontAdd($fontOne)
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #191919;
    transition: 0.3s;
    &:hover {
        color: $main;
    }
}

li, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

section {
    display: inline-block;
    width: 100%;
}

body {
    background-color: #f9f9f9;
}

.btn {
    background-color: $main;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    transition: 0.3s;
    &:hover {
        color: #fff;
        box-shadow: 0px 0px 5px $main;
    }
}

.error {
    color: red;
    display: none;
    &.active {
        display: block;
    }
}

.none {
    display: none;
}

.offcanvas-start{
    right: 0;
    left: auto;
    width: 520px;
    &.active {
        transform: translateX(0);
        visibility: unset;
    }
}

.lock {
    overflow: hidden !important;
}

.text-orange {
    color: $main;
}

.none-after {
    &:after {
        content: '' !important;
        width: 0 !important;
        height: 0 !important;
    }
}